.player {
  background: #ddd;
  border-radius: 5px;

  &:hover {
    transition: 0.2s;
    transform: scale(1.025) translateY(-3px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }

  & > * {
    padding: 4px 0;
  }
}

.goalkeeper {
  background-color: #52b202;
}

.defender {
  background-color: #007bb2;
}

.midfielder {
  background-color: #b26a00;
}
.forward {
  background-color: #aa2e25;
}

.captain {
  border: 1px solid gold;
}
